@import "tailwindcss";

/* ---- Customize Tailwind dark mode ----- */
@custom-variant dark (&:where(.dark, .dark *));

/* ------ Customize Tailwind theme ------- */
@theme {
  --color-primary-100: rgba(var(--primary-100));
  --color-primary-200: rgba(var(--primary-200));
  --color-primary-300: rgba(var(--primary-300));
  --color-primary-400: rgba(var(--primary-400));
  --color-primary-500: rgba(var(--primary-500));
  --color-secondary-100: rgba(var(--secondary-100));
  --color-secondary-500: rgba(var(--secondary-500));
  --color-accent-50: rgba(var(--accent-50));
  --color-accent-400: rgba(var(--accent-400));
  --color-accent-500: rgba(var(--accent-500));
  --color-accent-600: rgba(var(--accent-600));
  --color-app-base-bg: rgba(var(--app-base-bg));
  --color-app-gradient-bg: var(--app-gradient-bg);
}

/* ------------ CSS variables ------------ */
:root {
  --primary-100: 250 250 250;
  --primary-200: 245 245 245;
  --primary-300: 240 240 240;
  --primary-400: 235 235 235;
  --primary-500: 255 255 255;

  --secondary-100: 160 160 160;
  --secondary-500: 80 80 80;

  --accent-50: 255 235 238;
  --accent-400: 239 68 68;
  --accent-500: 220 38 38;
  --accent-600: 185 28 28;

  --app-base-bg: 17 17 17;
  --app-gradient-bg: linear-gradient(
    25deg,
    rgba(17, 17, 17, 1) 0%,
    rgba(222, 40, 40, 1) 50%,
    rgba(17, 17, 17, 1) 100%
  );
}

html {
  background: var(--app-gradient-bg);
  color: rgba(var(--primary-500));
}

.dark {
  --primary-500: 255 255 255;
  --secondary-500: 200 200 200;
  background: var(--app-gradient-bg);
  color: rgba(var(--primary-500));
}
